@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.card {
  grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
}

.from-top,
.from-left-side,
.from-right-side,
.from-bottom {
  opacity: 0;
  transition:
    transform 0.5s ease-out,
    opacity 0.5s ease-out;
}

.from-top {
  transform: translateY(-50%);
}

.from-left-side {
  transform: translate(-20%, -10%);
}

.from-right-side {
  transform: translate(20%, -10%);
}

.from-bottom {
  transform: translateY(50%);
}

.from-top.slide-in-top,
.from-left-side.slide-in-left-side,
.from-right-side.slide-in-right-side,
.from-bottom.slide-in-bottom {
  transform: translate(0);
  opacity: 1;
}

.scroll-down-animation {
  animation: scroll-down 4s cubic-bezier(0.45, 0.05, 0.55, 0.95) infinite;
}

.scroll-down-animation .triangle,
.scroll-down-animation svg {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.scroll-down-animation .triangle {
  animation: show-triangle 4s infinite;
}

.scroll-down-animation svg {
  animation: show-arrow 4s infinite;
}

@keyframes scroll-down {
  0%,
  100% {
    transform: translateY(0) translateX(-50%);
  }
  25% {
    transform: translateY(15px) translateX(-50%);
  }
  50% {
    transform: translateY(0) translateX(-50%);
  }
  75% {
    transform: translateY(-15px) translateX(-50%);
  }
}

@keyframes show-triangle {
  0%,
  45%,
  100% {
    opacity: 1;
  }
  50%,
  95% {
    opacity: 0;
  }
}

@keyframes show-arrow {
  0%,
  45%,
  100% {
    opacity: 0;
  }
  50%,
  95% {
    opacity: 1;
  }
}
